{% extends "base.html" %}

{% block body_block %}

{% if form.errors %}
<p class="lead">Your username and password didn't match. Please try again.</p>
{% endif %}

<form class="form-signin" method="post" action="{% url 'django.contrib.auth.views.login' %}">
{% csrf_token %}
<table>
<tr class="form-control">
    <td>{{ form.username.label_tag }}</td>
    <td>{{ form.username }}</td>
</tr>
<tr class="form-control">
    <td>{{ form.password.label_tag }}</td>
    <td>{{ form.password }}</td>
</tr>
</table>
<input class="btn btn-lg btn-primary btn-block" type="submit" value="Sign In">
<input type="hidden" name="next" value="{{ next }}" />

{% endblock %}
