{% extends 'base.html' %}

{% block body_block %}


<div class="row">
	<div class="col-xs-6">

		{% if pf_contents %}
		<h2>Your current portfolio</h2>
		<form action="/sell_shares/" method="post">
		{% csrf_token %}
		<table class="table table-bordered table-striped table-condensed center">
			<thead>
				<tr>
					<th>Player Name</th>
					<th>Shares</th>
					<th>Value</th>
					<th>Sell Shares</th>
				</tr>
			</thead>
			<tbody>
				{% for player in pf_contents %}
				<tr>
					<td><a href="/app1/{{ player.pid }}/">{{ player.pid.name }}</a></a></td>	
					<td>{{ player.shares }}</a></td>
					<td>${{ player.player_pf_val|floatformat:2 }}</td>
					<td><input type="number" min="0" max="500" name="{{ player.pid_id }}" ></td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
		<input class="btn btn-lg btn-danger btn-block" type="submit" value="Sell Shares">
		</form>
		{% else %}
		    <p>You haven't selected any players for your portfolio yet</p>
		{% endif %}

	</div>

	<div class="col-xs-6">

		<h2>Portfolio Value</h2>
		<table class="table table-bordered table-striped table-condensed center">
			<tr>
				<th>Net worth</th>
				<td>${{ user_pf.net_worth|floatformat:2}}</td>
			</tr>
			<tr>
				<th>Assets</th>
				<td>${{ user_pf.assets|floatformat:2 }}</td>
			</tr>
			<tr>
				<th>Cash</th>
				<td>${{ user_pf.cash|floatformat:2 }}</td>
			</tr>
		</table>
	</div>
</div><!-- end div row dashboard --!>

<div class="row">


</div><!-- end div row execute button --!>

<div class="player-stats container" >
	{% if player_list %}
	<h2>Player Stats and Valuations</h2>
	<form action="/buy_shares/" method="post">
	{% csrf_token %}
	<input class="btn btn-lg btn-success btn-block" type="submit" value="Buy Shares">
	<table class="table table-bordered table-striped table-condensed center">
		<thead>
			<tr>
				<th>Name</th>
				<th>Share Price</th>
				<th>Buy Shares</th>
			</tr>
		</thead>
		<tbody>
			{% for player in player_list %}
			<tr>
				<td><a href="/app1/{{ player.pid }}/">{{ player.pid.name }}</a></td>
				<td>${{ player.value|floatformat:2 }}</td>
				<td><input type="number" min="0" max="500" name="{{ player.pid_id}}"></td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	</form>
{% else %}
    <p>No Players in DB!.</p>
{% endif %}
</div>
{% endblock %}

